@import url(https://fonts.googleapis.com/css?family=Outfit);

:root {
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
}

body {
    background: var(--lightgray);
    font-family: Outfit;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

h1, p {
    font-size: 15px;
    text-align: center;
    margin-left: .75rem;
    margin-top: .75rem;
    margin-right: .75rem;
}

p {
    margin-bottom: 1rem;
}

.container {
    display: inline-block;
    place-content: center;
    max-width: 20em;
    font-size: 15px;
}

/* .item {
    padding: .75rem;
    background: var(--white);
    border-radius: 1rem;
} */

img {
    border-radius: .5rem;
    max-width: 100%;
}

/* .text-position {
    text-align: center;
    margin: 0.65rem;
} */

.header {
    color: var(--darkblue);
    font-size: 1.3rem;
    font-weight: 700;
}

.text {
    color: var(--grayishblue);
    font-weight: 400;
}

.bold-text {
    font-weight: bold;
}

footer {
    text-align: center;
    color: var(--grayishblue);
    background: var(--lightgray);
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--darkblue);
}